In [368]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter
from itertools import combinations

In [369]:
data = pd.read_csv('movie_bd_v5.csv')
data.sample(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
1333,tt0396752,25000000,122489822,Nanny McPhee,Emma Thompson|Colin Firth|Kelly Macdonald|Thom...,Kirk Jones,You'll Learn To Love Her. Warts And All.,Widower Cedric Brown (Colin Firth) hires Nanny...,97,Fantasy|Comedy|Family,Universal Pictures|Three Strange Angels|Studio...,10/21/2005,6.1,2005
1244,tt2388715,5000000,44030246,Oculus,Katee Sackhoff|Karen Gillan|Brenton Thwaites|J...,Mike Flanagan,You see what it wants you to see,A woman tries to exonerate her brother's murde...,104,Horror,Intrepid Pictures|Blumhouse Productions|Relati...,9/8/2013,6.2,2013
115,tt2358925,35000000,14431253,Unfinished Business,Vince Vaughn|Dave Franco|James Marsden|June Di...,Ken Scott,Best business trip ever.,A hard-working small business owner and his tw...,90,Comedy,Studio Babelsberg|Regency Enterprises|Escape A...,3/5/2015,4.9,2015
1442,tt0407887,90000000,289847354,The Departed,Leonardo DiCaprio|Matt Damon|Jack Nicholson|Ma...,Martin Scorsese,Lies. Betrayal. Sacrifice. How far will you ta...,"To take down South Boston's Irish Mafia, the p...",151,Drama|Thriller|Crime,Vertigo Entertainment|Media Asia Films|Warner ...,10/5/2006,7.7,2006
1592,tt0357413,26000000,90574188,Anchorman: The Legend of Ron Burgundy,Will Ferrell|Christina Applegate|Paul Rudd|Dav...,Adam McKay,They bring you the news so you don't have to g...,"It's the 1970s, and San Diego super-sexist anc...",94,Comedy,Apatow Productions,7/9/2004,6.7,2004

In [370]:
data.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

# Предобработка

In [371]:
answers = {} # создадим словарь для ответов

# тут другие ваши предобработки колонок например:

#the time given in the dataset is in string format.
#So we need to change this in datetime format
# ...

data.info()

data['profit'] = data['revenue'] - data['budget']
#data

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1889 entries, 0 to 1888
Data columns (total 14 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   imdb_id               1889 non-null   object
 1   budget                1889 non-null   int64
 2   revenue               1889 non-null   int64
 3   original_title        1889 non-null   object
 4   cast                  1889 non-null   object
 5   director              1889 non-null   object
 6   tagline               1889 non-null   object
 7   overview              1889 non-null   object
 8   runtime               1889 non-null   int64
 9   genres                1889 non-null   object
 10  production_companies  1889 non-null   object
 11  release_date          1889 non-null   object
 12  vote_average          1889 non-null   float64
 13  release_year          1889 non-null   int64
dtypes: float64(1), int64(4), object(9)
memory usage: 206.7+ KB

In [372]:
datav2 = data.copy()
datav2['cast'] = datav2.cast.str.split('|')
datav2['director'] = datav2.director.str.split('|')
#datav2['overview'] = datav2.overview.str.split('|')
datav2['genres'] = datav2.genres.str.split('|')
datav2['production_companies'] = datav2.production_companies.str.split('|')
datav2['release_date'] = pd.to_datetime(datav2['release_date'])

In [373]:
datav2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1889 entries, 0 to 1888
Data columns (total 15 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   imdb_id               1889 non-null   object
 1   budget                1889 non-null   int64
 2   revenue               1889 non-null   int64
 3   original_title        1889 non-null   object
 4   cast                  1889 non-null   object
 5   director              1889 non-null   object
 6   tagline               1889 non-null   object
 7   overview              1889 non-null   object
 8   runtime               1889 non-null   int64
 9   genres                1889 non-null   object
 10  production_companies  1889 non-null   object
 11  release_date          1889 non-null   datetime64[ns]
 12  vote_average          1889 non-null   float64
 13  release_year          1889 non-null   int64
 14  profit                1889 non-null   int64
dtypes: datetime64[ns](1), float64(1), int64(5), object(8)
memory usage: 221.5+ KB

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [374]:
# в словарь вставляем номер вопроса и ваш ответ на него
# запишите свой вариант ответа

answers['1'] = '5. Pirates of the Caribbean: On Stranger Tides (tt1298650)'
# если ответили верно, можете добавить комментарий со значком "+"

In [375]:
# тут пишем ваш код для решения данного вопроса:

data1 = data[data.budget == data.budget.max()]
data1

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
723,tt1298650,380000000,1021683000,Pirates of the Caribbean: On Stranger Tides,Johnny Depp|PenÃ©lope Cruz|Geoffrey Rush|Ian M...,Rob Marshall,Live Forever Or Die Trying.,Captain Jack Sparrow crosses paths with a woma...,136,Adventure|Action|Fantasy,Walt Disney Pictures|Jerry Bruckheimer Films|M...,5/11/2011,6.3,2011,641683000

ВАРИАНТ 2

In [376]:
# можно добавлять разные варианты решения
data1v2 = data[data['budget'] == data['budget'].max()]
data1v2

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
723,tt1298650,380000000,1021683000,Pirates of the Caribbean: On Stranger Tides,Johnny Depp|PenÃ©lope Cruz|Geoffrey Rush|Ian M...,Rob Marshall,Live Forever Or Die Trying.,Captain Jack Sparrow crosses paths with a woma...,136,Adventure|Action|Fantasy,Walt Disney Pictures|Jerry Bruckheimer Films|M...,5/11/2011,6.3,2011,641683000

# 2. Какой из фильмов самый длительный (в минутах)?

In [377]:
# думаю логику работы с этим словарем вы уже поняли, 
# по этому не буду больше его дублировать

answers['2'] = '2. Gods and Generals (tt0279111)'

In [378]:
data2 = data[data.runtime == data.runtime.max()]
data2

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
1157,tt0279111,56000000,12923936,Gods and Generals,Stephen Lang|Jeff Daniels|Robert Duvall|Kevin ...,Ronald F. Maxwell,The nations heart was touched by...,The film centers mostly around the personal an...,214,Drama|History|War,Turner Pictures|Antietam Filmworks,2/21/2003,5.8,2003,-43076064

# 3. Какой из фильмов самый короткий (в минутах)?

In [379]:
answers['3'] = '3. Winnie the Pooh (tt1449283)'

In [380]:
data3 = data[data.runtime == data.runtime.min()]
data3

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
768,tt1449283,30000000,14460000,Winnie the Pooh,Jim Cummings|Travis Oates|Jim Cummings|Bud Luc...,Stephen Anderson|Don Hall,Oh Pooh.,"During an ordinary day in Hundred Acre Wood, W...",63,Animation|Family,Walt Disney Pictures|Walt Disney Animation Stu...,4/13/2011,6.8,2011,-15540000

# 4. Какова средняя длительность фильмов?

In [381]:
answers['4'] = '2. 110'

In [382]:
data4 = data.runtime.mean()

# 5. Каково медианное значение длительности фильмов?

In [383]:
answers['5'] = '1. 107'

In [384]:
data5 = data.runtime.median()
data5

107.0

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [385]:
# лучше код получения столбца profit вынести в Предобработку что в начале
answers['6'] = '5. Avatar (tt0499549)'

In [386]:
data6 = data[data.profit == data.profit.max()]
data6.original_title

239    Avatar
Name: original_title, dtype: object

# 7. Какой фильм самый убыточный?

In [387]:
answers['7'] = '5. The Lone Ranger (tt1210819)'

In [388]:
data7 = data[data.profit == data.profit.min()]
data7.original_title

1245    The Lone Ranger
Name: original_title, dtype: object

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [389]:
answers['8'] = '1. 1478'

In [390]:
data8 = data[data.revenue > data.budget]
len(data8)

1478

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [391]:
answers['9'] = '4. The Dark Knight (tt0468569)'

In [392]:
data9 = data[data.release_year == 2008]
data9max = data9[data9.revenue == data9.revenue.max()]
data9max.original_title

599    The Dark Knight
Name: original_title, dtype: object

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [393]:
answers['10'] ='5. The Lone Ranger (tt1210819)'

In [394]:
data10 = data[(data.release_year >= 2012) & (data.release_year <= 2014)]
data10min = data10[data10.profit == data10.profit.min()]
data10min.original_title

1245    The Lone Ranger
Name: original_title, dtype: object

# 11. Какого жанра фильмов больше всего?

In [395]:
# эту задачу тоже можно решать разными подходами, попробуй реализовать разные варианты
# если будешь добавлять функцию - выноси ее в предобработку что в начале

answers['11'] = '3. Drama'

In [396]:
data11 = datav2.explode('genres')
data11.genres.value_counts().index[0]

'Drama'

ВАРИАНТ 2

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [397]:
answers['12'] = '1. Drama'

In [398]:
data12 = datav2.explode('genres')
data12pr = data12[data12.profit > 0]
data12pr.genres.value_counts().index[0]

'Drama'

# 13. У какого режиссера самые большие суммарные кассовые сборы?

In [399]:
answers['13'] = '5. Peter Jackson'

In [400]:
data13 = datav2.explode('director')
grouped_df = data13.groupby(['director'])['revenue'].sum().sort_values(ascending=False)
print(grouped_df.head(1))

director
Peter Jackson    6490593685
Name: revenue, dtype: int64

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [401]:
answers['14'] = '3. Robert Rodriguez'

In [402]:
data14 = data.copy()
data14 = data14[data14.genres.str.contains('Action')]
data14['director'] = data14.director.str.split('|')
data14exp = data14.explode('director')
data14exp.groupby(['director'])['imdb_id'].count().sort_values(ascending=False).index[0]

'Robert Rodriguez'

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [403]:
answers['15'] = '3. Chris Hemsworth'

In [404]:
data15 = datav2.copy()
data15 = data15[data15.release_year == 2012]
data15exp = data15.explode('cast')
data15exp.groupby(['cast'])['revenue'].sum().sort_values(ascending=False).index[0]

'Chris Hemsworth'

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [405]:
answers['16'] = '3. Matt Damon'

In [406]:
data16 = datav2.copy()
data16 = data16[data16.budget > data16.budget.mean()]
data16exp = data16.explode('cast')
data16exp.groupby(['cast'])['imdb_id'].count().sort_values(ascending=False).index[0]

'Matt Damon'

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [407]:
answers['17'] = '2. Action'

In [408]:
data17 = datav2.copy()
data17ecast = data17.explode('cast')
data17NC = data17ecast[data17ecast.cast == 'Nicolas Cage']
data17egen = data17NC.explode('genres')
data17egen.groupby(['genres'])['imdb_id'].count().sort_values(ascending=False).index[0]

'Action'

# 18. Самый убыточный фильм от Paramount Pictures

In [409]:
answers['18'] = '1. K-19: The Widowmaker (tt0267626)'

In [410]:
data18 = datav2.copy()
data18e = data18.explode('production_companies')
data18PP = data18e[data18e.production_companies == 'Paramount Pictures']
data18PP[data18PP.profit == data18PP.profit.min()].original_title

925    K-19: The Widowmaker
Name: original_title, dtype: object

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [411]:
answers['19'] = '5. 2015'

In [412]:
data19 = data.copy()
data19.groupby(['release_year'])['revenue'].sum().sort_values(ascending=False).index[0]

2015

# 20. Какой самый прибыльный год для студии Warner Bros?

In [413]:
answers['20'] ='1. 2014'

In [414]:
data20 = data.copy()
data20 = data20[data20.production_companies.str.contains('Warner Bros')]
data20e = data20.explode('production_companies')
data20e.groupby(['release_year'])['profit'].sum().sort_values(ascending=False).index[0]

2014

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [415]:
answers['21'] ='4. Сентябрь'

In [416]:
def update_date(date): return date.split('/')[0]
data21 = data.copy()
data21.release_date = data21.release_date.apply(update_date)
data21.groupby(['release_date'])['imdb_id'].count().sort_values(ascending=False).index[0]

'9'

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [417]:
answers['22'] = '2. 450'

In [418]:
def update_date(date): return date.split('/')[0]
data22 = data.copy()
data22.release_date = data22.release_date.apply(update_date)
data22summer = data22[(data22.release_date == '6') | (data22.release_date == '7') | (data22.release_date == '8')]
data22summer.groupby(['release_date'])['imdb_id'].count().sum()

450

# 23. Для какого режиссера зима – самое продуктивное время года?

In [419]:
answers['23'] = '5. Peter Jackson'

In [420]:
def update_date(date): return date.split('/')[0]
data23 = data.copy()
data23.release_date = data23.release_date.apply(update_date)
data23w = data23[(data23.release_date == '12') | (data23.release_date == '1') | (data23.release_date == '2')]
data23we = data23w.copy()
data23we.director = data23w.director.str.split('|')
data23exp = data23w.explode('director')
data23exp.groupby(['director'])['imdb_id'].count().sort_values(ascending=False).index[0]

'Peter Jackson'

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [421]:
answers['24'] ='5. Four By Two Productions'

In [422]:
data24 = datav2.copy()
data24e = data24.explode('production_companies')
data24e['title_len'] = data24e.original_title.str.len()
data24e.groupby(['production_companies'])['title_len'].mean().sort_values(ascending=False).index[0]

'Four By Two Productions'

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [423]:
answers['25'] ='3. Midnight Picture Show'

In [424]:
data25 = datav2.copy()
data25e = data25.explode('production_companies')
data25e['overview_wcnt'] = data25e.overview.str.count(' ') + 1
data25e.groupby(['production_companies'])['overview_wcnt'].mean().sort_values(ascending=False).index[0]

'Midnight Picture Show'

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [425]:
answers['26'] = '1. Inside Out, The Dark Knight, 12 Years a Slave'

In [426]:
data26 = data.copy()
data26top = data26.sort_values(['vote_average'], ascending=False)
data26top.head(int(len(data26)/100)).original_title

599                                   The Dark Knight
118                                      Interstellar
125                                The Imitation Game
9                                          Inside Out
34                                               Room
1183                          The Wolf of Wall Street
128                                         Gone Girl
1191                                 12 Years a Slave
119                           Guardians of the Galaxy
1081    The Lord of the Rings: The Return of the King
1800                                          Memento
370                                         Inception
872                                       The Pianist
138                          The Grand Budapest Hotel
1188                                              Her
28                                          Spotlight
124                                        Big Hero 6
177                            The Fault in Our Stars
Name: original_title, dtype: object

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

In [427]:
answers['27'] = '5. Daniel Radcliffe & Rupert Grint'

In [428]:
data27 = datav2.copy()

def combi (s):
    return list(combinations(s, 2))

data27.cast = data27.cast.apply(combi)
data27e = data27.explode('cast')
data27e.groupby(['cast'])['imdb_id'].count().sort_values(ascending=False).index[0]

('Daniel Radcliffe', 'Rupert Grint')

# Submission

In [429]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'1': '5. Pirates of the Caribbean: On Stranger Tides (tt1298650)',
 '2': '2. Gods and Generals (tt0279111)',
 '3': '3. Winnie the Pooh (tt1449283)',
 '4': '2. 110',
 '5': '1. 107',
 '6': '5. Avatar (tt0499549)',
 '7': '5. The Lone Ranger (tt1210819)',
 '8': '1. 1478',
 '9': '4. The Dark Knight (tt0468569)',
 '10': '5. The Lone Ranger (tt1210819)',
 '11': '3. Drama',
 '12': '1. Drama',
 '13': '5. Peter Jackson',
 '14': '3. Robert Rodriguez',
 '15': '3. Chris Hemsworth',
 '16': '3. Matt Damon',
 '17': '2. Action',
 '18': '1. K-19: The Widowmaker (tt0267626)',
 '19': '5. 2015',
 '20': '1. 2014',
 '21': '4. Сентябрь',
 '22': '2. 450',
 '23': '5. Peter Jackson',
 '24': '5. Four By Two Productions',
 '25': '3. Midnight Picture Show',
 '26': '1. Inside Out, The Dark Knight, 12 Years a Slave',
 '27': '5. Daniel Radcliffe & Rupert Grint'}

In [430]:
# и убедиться что ни чего не пропустил)
len(answers)

27